.w-logo {
  width: 8rem;
}
.bg-top {
  background: rgba(241, 243, 255, 1);
}
.bg-success:hover {
  opacity: 0.5;
}
.bg-navbar {
  background: rgba(241, 243, 255, 1);
}
.bg-testi {
  background: rgba(241, 243, 255, 1);
}
@media only screen and (max-width: 600px) {
  .w-form {
    width: 19.2rem;
  }
}
